html {
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    overflow-x: hidden;
    font-size: 16px;
}
body.burnley {
    color: red;
}
a.cancel-subscription {
    color: #333;
    text-decoration: underline;
}
#payment-form {
    overflow: hidden;
}
.upperNavDiv {
    padding-left: 14rem;
}
.upperNav {
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    padding: 0.75rem;
    color: #81204C;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}
a.upperNav:hover {
    color: #81204C;
    text-decoration:none;
}
.lowerNavOuterDiv {
    height: 5rem; 
    display: flex;
}
.lowerNav {
    height:100%; 
    white-space: nowrap;
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}
a.lowerNav:hover {
    color: white;
    text-decoration:none;
}
.mobileLowerNav {
    height:100%; 
    white-space: nowrap;
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: #ffffff;
    display: flex;
    font-weight: 700;
}
a.mobileLowerNav:hover {
    color: white;
    text-decoration:none;
}
.lowerNavDiv {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 5rem;
}
.lowerNavCrest {
    display: flex; 
    justify-content: space-between; 
    background-color: #81204C;
    height: 3rem;
    /* box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2); */
}
.lowerNavText {
    margin-top: auto; 
    margin-bottom: auto; 
    font-weight: 700; 
    line-height: 1;
    font-size: 18px;
}
.o-hamburger {
    width: 20px;
    height: 12px;
    position: relative;
    transform: rotate(0deg);
}
.o-hamburger span {
    display: block;
    position: absolute;
    height: 20%;
    width: 100%;
    background: white;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    transform-origin: left center;
}
.o-hamburger span:nth-child(1) {
    top: 0px;
}
.o-hamburger span:nth-child(2) {
    top: 40%
}
.o-hamburger span:nth-child(3) {
    top: 80%;
}
.o-hamburger-active span:nth-child(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 2px;
}
.o-hamburger-active span:nth-child(2) {
    width: 0%;
    opacity: 0;
}
.o-hamburger-active span:nth-child(3) {
    transform: rotate(-45deg);
    top: 14px;
    left: 2px;
}
.o-footer {
    background-image: url("https://burnley-simple-shell.s3-eu-west-1.amazonaws.com/img/footer-pattern.svg");
    background-size: 50rem;
    background-position: top;
    background-color: #81204C;
    margin-top: 20px;
}
.o-footer a {
    color: white;
}
.footerBlock {
    width: 50%; 
    padding-left: 0.5rem; 
    padding-right: 0.5rem; 
    margin-bottom: 1.5rem;
}
.footerHeaderText {
    font-weight: 700; 
    margin-bottom: 0.5rem; 
    font-size:25.2px;
}
.lowerFooterLegal {
    width: 50%;
}
.lowerFooterLegalDiv {
    display: block; 
}
.lowerFooterSocial {
    width: 50%;
}
@media only screen and (min-width: 640px) {
    .footerBlock {
        width: 33.333333%;	
    }
}
@media only screen and (min-width: 767px) {
    .footerBlock {
        width: 25%;
    }
    .lowerFooterLegal {
        width: 83.333333%;
    }
    .lowerFooterLegalDiv {
        display: flex;
    }
    .lowerFooterSocial {
        width: 16.666667%;
    }
}
@media only screen and (min-width: 1280px) {
    .lowerNavCrest {
        visibility: hidden;
        display: none;
    }
    .footerBlock {
        width: 16.666667%;
    }
}
@media only screen and (max-width: 640px) {
    .hideComponentSm {
        visibility: hidden;
        clear: both;
        display: none;
    }
}
@media only screen and (max-width: 767px) {
    .hideComponentMd {
        visibility: hidden;
        clear: both;
        display: none;
    }
}
@media only screen and (max-width: 1280px) {
    .hideComponentXl {
        visibility: hidden;
        display: none;
    }
    .upperNavDiv {
        padding-left: 0rem
    }
    .lowerNavOuterDiv {
        height: 3rem;
        display: block;
    }
}